@model IEnumerable<CommunityAssist2017.Models.GrantType>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Community Assist</h1>
</div>
<!-- This creates a table with a class "table" with the table name of Grant Key, Grant Name, Grant Description, Grant Maxium-->
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.GrantTypeKey)</th>
        <th>@Html.DisplayNameFor(model => model.GrantTypeName)</th>
        <th>@Html.DisplayNameFor(model => model.GrantTypeDescription)</th>
        <th>@Html.DisplayNameFor(model => model.GrantTypemaximum)</th>

    </tr>
  
    <!-- This loops through each item and displays it-->
    @foreach (var item in Model)
    {
        <tr>
        <td>@Html.DisplayFor(model => item.GrantTypeKey)</td>
        <td>@Html.DisplayFor(model => item.GrantTypeName)</td>
        <td>@Html.DisplayFor(model => item.GrantTypeDescription)</td>
        <td>@Html.DisplayFor(model => item.GrantTypemaximum)</td>
        </tr>
    }
   
</table>

